.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #f0f4f8, #d9e8fc); /* Fundo cinza claro */
  padding: 20px;
}

.imageContainer {
  margin-bottom: 30px; /* Espaço entre a imagem e o texto */
}

.image {
  border-radius: 50%; /* Torna a imagem circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra à imagem */
}

.textContainer {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333; /* Cor do título */
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #555; /* Cor do texto da descrição */
  margin-bottom: 15px;
}

.quote {
  font-size: 1rem;
  color: #777; /* Cor do texto da frase */
  font-style: italic;
}